@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@fortawesome/fontawesome-free/css/all.css";
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --text: #6777ef;
}

html {
    font-size: 16px;
}

#app {
    width: 100vw;
    height: 100vh;
}

.text-primary {
    color: var(--text);
}

.text-secondary {
    color: #6c757d;
}

section h2 {
    font-size: 28px;
}

section .lead {
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 13, 13, 0.5)
}

.text-14px {
    font-size: 14px;
}

.text-10px {
    font-size: 10px;
}